@supports (grid-template-rows: masonry) {

}

.Gallery {
    position: relative;
    padding: 0 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery-masonry {
    display: column;
    columns: 4;
    column-gap: 20px;
    gap: 20px;
    transform: translateY(-50px);
    opacity: 0;
}

.gallery-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    display: block;
    margin-bottom: 20px;
}

@media(max-width: 700px) {
    .Gallery {
        padding: 0px 10px;
    }

    .gallery-masonry {
        columns: 2;
        column-gap: 10px;
        gap: 10px !important;
    }

    .gallery-img {
        margin-bottom: 10px;
    }
}