@supports (grid-template-rows: masonry) {

}

.Gallery {
    position: relative;
    padding: 0 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery-masonry {
    display: column;
    columns: 4;
    column-gap: 20px;
    gap: 20px;
}

.gallery-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    display: block;
    margin-bottom: 20px;
}