.Media {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 20px;
    padding: 100px 0;
}

.media-videos {
    position: relative;
    display: grid;
    grid-template-columns: 50fr 50fr;
    gap: 30px;
    width: 100%;
    align-items: center;
    padding-bottom: 100px;

    iframe:nth-child(odd) {
        justify-self: end;
    }

    iframe:nth-child(even) {
        justify-self: start;
    }
}

.media-recordings {
    margin-top: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

iframe {
    width: 80%;
    min-width: 300px;
    aspect-ratio: 1/.5;
    border: 10px solid rgb(98, 105, 89);
}

@media (max-width: 768px) {
    .media-videos { 
        grid-template-columns: 1fr;
    }

    iframe {
        width: 90%;
        justify-self: center !important;
    }
}