.Teaching {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--gray-beige);
}

.teaching-image-grid {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--caffe-brown);
}

.teaching-image-grid > div {
    position: relative;
    display: grid;
    justify-content: center;
    min-height: 0px;
}

#top-row {
    grid-template-columns: 60fr 40fr;
}

#bottom-row {
    grid-template-columns: 40fr 60fr 1fr;
}

.teaching-image-grid > div > img {
    height: 20vw;
    width: 100%;
    object-fit: cover;
    object-position: top;
    opacity: 0;
}

.long-image {
    width: 60%;
}

.short-image {
    width: 40%;
}

#img-1 {
    transform: translateX(-10px);
    object-position: 0 -50px;
}

#img-2 {
    transform: translateX(10px);
    animation-delay: 250ms;
}

#img-3 {
    transform: translateX(-10px);
    animation-delay: 500ms;
}

#img-4 {
    transform: translateX(10px);    
    object-position: 0 -20px;

    animation-delay: 750ms;
}

.teaching-title {
    position: relative;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: var(--header-font);
    background-color: var(--caffe-brown);
    color: var(--gray-beige);
    font-size: 72px;
    font-weight: 500;
    transform: translateX(50px);
    opacity: 0;
    animation-delay: 1s;
    width: 0px;
    overflow: hidden;
}

.teaching-details {
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: var(--shadow);
    align-items: center;
    width: 50vw;
    margin: 100px 0;
    transform: translateY(50px);
    opacity: 0;
}

.teaching-details-title {
    transform: translateY(-30%);
    margin: 0;
    padding: 30px 50px;
    width: fit-content;

    background-color: white;
    border: 1px solid rgb(220,220,220);
    font-family: var(--header-font);
    color: var(--eraser);
    outline: 5px solid var(--peach);
    outline-offset: 5px;
}

.teaching-contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    width: 100%;
    background-color: var(--wet-sand);
    box-sizing: border-box;
}

.teaching-contact-container > h4 {
    text-align: center;
    font-family: var(--header-font);
    font-size: 24px;
    font-weight: 600;
    color: white;
}

.teaching-contact-container > h4 > a {
    font-weight: 600 !important;
    color: var(--gray-beige);

    transition: all 300ms ease;
}

.teaching-contact-container > h4 > a:hover {
    color: var(--olive);
}

.teaching-details-description {
    position: relative;
    margin: 0px;
    box-sizing: border-box;
    width: 100%;
    line-height: 40px;
    font-size: 16px;
    text-align: center;
    color: var(--leather-brown);
    background-color: white;
    padding: 30px;
}

.teaching-fade-in-directional {
    animation: TeachingFadeInFromDirection 1s ease forwards;
}

@media(max-width: 700px) {
    .teaching-image-grid > div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #bottom-row {
        flex-direction: column-reverse;
    }

    .teaching-title {
        height: 200px;
        font-size: 48px;
    }

    .teaching-image-grid > div > img {
        width: 100% !important;
        height: 200px;
    }

    .teaching-contact-container {
        padding: 20px;
        box-sizing: border-box;
        width: 80%;
    }

    .teaching-contact-container > h4 {
        font-size: 18px;
    }

    .teaching-details-title {
        font-size: 20px !important;
    }

    .teaching-details-description {
        width: 80% !important;
    }

    #img-1 {
        transform: translateX(-30px);
        object-position: 0;
    }
}

@keyframes TeachingFadeInFromDirection {
    100%{opacity: 1; transform: translateY(-50%);}
}